spring:
  application:
    name: pos-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/posdb
    username: posuser
    password: pospass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
